.conteiner {
    overflow-x: auto;
    color: #ffff;
    background-color: #000000;
    max-width: 1000px;
}

.section{
    column-count: 2;
    padding: 0px;
}



.section__item {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    text-align: center;
}

.section__title{
    margin-top: 50px auto;
    margin-bottom: 50px auto;
    max-width: 10000px;
    font-family: "Arial", sans-serif;
    text-shadow: 1px 2px 5px white;
}